.disconnect {
  display: flex;
  justify-content: flex-end;

  &__btn {
    margin: 100px 0 10px 0;
  }
}

.chat {
  background-color: #FFF;
  border: 1px solid #e8e8e8;
  padding: 24px;
  box-shadow: 15px 15px 47px 0px rgba(0,0,0,0.55);

  &__messages {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 450px;

    .ant-list-item-meta-title {
      color: #000;
      opacity: 0.5;
    }

    .ant-list-item-meta-description {
      color: #000;
    }

    &__system {
      .ant-list-item-meta-description {
        color: #1890ff;
      }
    }
  }

  &__sendbox {
    display: flex;

    &__input {
      width: 100%;
      margin-right: 5px;
    }
  }

  .ant-form-item {
    margin-bottom: 0;
  }
}
