{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "sourceType": "module"
    },
    "env": {
        "jest": true,
        "browser": true,
        "es6": true
    },
    "rules": {
      "react/prop-types": 0
    }
}
